<clr-main-container>
    <clr-header>
        r³k
    </clr-header>
    <nav class="subnav" [clr-nav-level]="1">
        xxx
    </nav>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">

                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Collapsible Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link" routerLink="/home">home</a></li>
                        <li><a class="nav-link" routerLink="/caffenie">caffenie</a></li>
                    </ul>
                </section>

            </section>
        </nav>
    </div>
</clr-main-container>